
{% load static %}

<html>
  <head>
    <title></title>
    <meta charset = 'utf-8'>
    <meta name = 'viewport' content = 'width = device = width, initial-scale = 1.0, maximum-scale=1.0'>
    <link rel="stylesheet" href="{% static 'skyfinance_app/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block extra_css %} {% endblock %}
  </head>

  <body>
    <nav>
      <div class = nav-links>
        <a href = '{% url "signup" %}'>Register</a>
        <a href = '{% url "login" %}'>Sign in</a>
        <a href = '{% url "overview" %}'>Overview</a>
      </div>
      
      <div class = 'navigation-logo'>
        <a href = '{% url "overview" %}'><img src = '{% static "skyfinance_app/images/navbar-logo.svg" %}' alt = 'navbar-logo'></a>
      </div>

    </nav>
    
    {% block content %} {% endblock %}

    <script src="{% static 'skyfinance_app/javascript/functionality.js' %}"></script>

  </body>
</html>