
{% extends 'skyfinance_app/navigation.html' %}

{% load static %}

{% block content %}

    <div class = "secondary-container">
        <div class = 'profile-container'>
            <div class = 'instructions'>
                <h1>Change Your Password</h1>
                <p>For security measures we ask you to provide your old password before changing to a new one!</p>
            </div>
            <form method = "post" action = "{% url 'password_change' %}">
                {% csrf_token %}
                <div class = 'form-control'>
                    <label for="{{ form.old_password.id_for_label }}">Current Password</label>
                        {{ form.old_password }}
                    <div class="errors">{{ form.old_password.errors }}</div>
                </div>

                <div class = 'form-control'>
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                        {{ form.new_password1 }}
                    <div class="errors">{{ form.new_password1.errors }}</div>
                </div>

                <div class = 'form-control'>
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                        {{ form.new_password2 }}
                    <div class="errors">{{ form.new_password2.errors }}</div>
                </div>

                <button type = "submit" class = 'update'>Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}