
{% extends 'skyfinance_app/base.html' %}

{% block content %}

{% if validlink %}

    <div class = 'main-container'>
        <div class = 'password-reset'>

            <div class = 'instructions'>
                <h1>Reset your password</h1>
                <p>Make sure it's secure, strong and memorable.</p>
            </div>

            <form method = 'post' autocomplete = 'off'>
                {% csrf_token %}

                <div class = 'form-control'>
                    <label for = 'new_password1'>New Password</label>
                    <div class = 'field-icon'>
                        {{ form.new_password1 }}
                        <img src = "/static/skyfinance_app/images/password.svg" alt = 'email-icon' class = 'icon'>
                    </div>
                    <div class = 'error'>
                        {{ form.new_password1.errors }}
                    </div>
                </div>

                <div class = 'form-control'>
                    <label for = 'new_password2'>Confirm Password</label>
                    <div class = 'field-icon'>
                        {{ form.new_password2 }}
                        <img src = "/static/skyfinance_app/images/password.svg" alt = 'email-icon' class = 'icon'>
                    </div>
                    <div class = 'error'>
                        {{ form.new_password2.errors }}
                    </div>
                </div>

                <button type = 'submit'>Reset password</button>

                <div class = 'error'>
                    {{ form.non_field_errors }}
                </div>
            </form>
        </div>
    </div>

{% else %}

    <p class = 'timeout'>This password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}

{% endblock %}