
{% block content %}
<div main-container style = "display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; width: 100%;">
    <h1 style = "font-family: Georgia, 'Times New Roman', Times, serif;">You're all set</h1>
    <p style = "font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: relative; bottom: 3%;">Password was reset successfully! You can now 
        <a class = "reset-guide" href = "{% url 'login' %}" style = "text-decoration: none; color: rgb(7, 132, 132);">Log in</a></p>
</div>
{% endblock %}